# Further exercises on sets, tuples and dictionaries - SOLVED

## Exercise 1

Write a function `disjoint_sets` that will take as input two sets and determine if they are "disjoint". If they are disjoint it should return `True` otherwise it returns `False`.  Two sets are disjoint if no element is found in both sets. Construct some example scenarios to test that your function does what it should.

For example:

`disjoint_sets(set([0,1,2]), set([3,4,5]))` should return `True`, there are no common elements.

`disjoint_sets(set([0,1,2,3]), set([3,4,5]))` should return `False`, there are common elements.

In [ ]:
def disjoint_sets(set1, set2):
    if len(set1 & set2) == 0:
        return True
    return False

In [ ]:
disjoint_sets(set([0,1,2]), set([3,4,5]))

True

In [ ]:
disjoint_sets(set([0,1,2,3]), set([3,4,5]))

False

## Exercise 2

In the code cell below you have a set and a list. Add all the things in the list `sample_list` to the set. You should end up with

`sample_set= {'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}`

(Thanks to pynative.com for the example exercise!)

In [ ]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set

{'Black', 'Orange', 'Yellow'}

In [ ]:
sample_set = set(sample_list) | sample_set
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

## Exercise 3

Write a function `remove_items_from_set` that will take as input two sets and return a set containing that exist only in the first set and not in the second set. I Construct some example scenarios to test that your function does what it should.

For example:

`remove_items_from_set(set([0,1,2]), set([3,4,5]))` should return `set([0,1,2])`.

`remove_items_from_set(set([0,2,3]), set([3,4,5]))` should return `set([0,2])`.

In [ ]:
def remove_items_from_set(set1, set2):
    return set1 - set2

In [ ]:
remove_items_from_set(set([0,1,2]), set([3,4,5]))

{0, 1, 2}

In [ ]:
remove_items_from_set(set([0,2,3]), set([3,4,5]))

{0, 2}

## Exercise 4

In your Google colab environment you can find some example data files. We'll show how to parse some of these in later weeks, but for now print the contents of the `README` file to understand what this data is.

HINT: The README file can be opened with:

`open('sample_data/README.md', 'r')`

In [ ]:
with open('sample_data/README.md', 'r') as file_pointer:
    for line in file_pointer:
        # We need the strip method here to avoid the newline character being written twice!
        print(line.strip())

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
Census; more information is available at:
https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
[MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
[Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
was originally described in

Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
Statistician. 27 (1): 17-21. JSTOR 2682899.

and our copy was prepared by the
[vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

## Exercise 5

In the code cell below you can see two lists. Convert this into a dictionary. You should get:

`{'Ten': 10, 'Twenty': 20, 'Thirty': 30}`

when printing the dictionary.

(Thanks to pynative.com)

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [ ]:
my_dict = {}
for key, val in zip(keys, values):
    my_dict[key] = val

In [ ]:
my_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

## Exercise 6

In the cell below you can see two dictionaries. Combine these together into one dictionary. You should get:

`{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}`

(credit to pynative.com)

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
output_dict = dict(dict1, **dict2)
output_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
for key, val in dict2.items():
    dict1[key] = val
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## Exercise 7

In the cell below you can see quite a complicated dictionary. It contains dictionaries within dictionaries (and demonstrated how you could store a lot of data in a structured format). Print Mike's mark for history and for physics (without printing everything else). The output should just read:

`70 80`

(credit to pynative.com)

In [ ]:
sample_dict = {
   "class":{
      "student":{
         "name":"Mike",
         "marks":{
            "physics":70,
            "history":80
         }
      }
   }
}

In [ ]:
for val in sample_dict["class"]["student"]["marks"].values():
    print(val)

70
80

## Exercise 8

In the code cell below a tuple is defined. Reverse it. You should get:

`(50, 40, 30, 20, 10)`

(credit to pynative.com)

In [ ]:
a_tuple = (10, 20, 30, 40, 50)

In [ ]:
a_tuple[::-1]

(50, 40, 30, 20, 10)

## Exercise 9

In the code cell below is a tuple containing a few different things. One of these things is a list, whose second item is `20`. Complete the line below to get the code to print `20`

(credit to pynative.com)

In [ ]:
a_tuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(a_tuple[1][1])   # Complete this line so it prints `20`. Do not add another line.

20

## Exercise 10

In the code cell below is a tuple. Write a code to count how many times `50` occurs within this tuple.

In [ ]:
tuple1 = (50, 10, 60, 70, 50)

In [ ]:
counter = 0
for item in tuple1:
    if item == 50:
        counter+=1
print(counter)

2

Alternative

In [ ]:
print(tuple1.count(50))

2