# Challenge exercises - SOLVED

## Exercise 11 - NASTY

Dictionaries can store any value, including lists or tuples. Here is a list of multiple exam scores for multiple students, unfortunately the person giving you this data did not bother to format it nicely or make it easy to access!

Enter the first 6 entries into a *single* dictionary where each students name is the key to a `list` of their results in each exam. Then compute the mean score in each exam. Then compute the mean score for each student (the first exam contributes 20% of the final grade, the second 30% of the final grade and the final exam 50% of the final grade). How many students of the first 6 students acheive more than 50%?

Entering all 30 entries manually will be pretty boring. Can you write a code to automate this. HINT: Such a dataset would probably be provided as a file, so starting with this in a `.txt` file might be a standard start. Then use string functions (for example line.strip().split(' '), would create a list of the 4 entries in each row) to put all this into a dictionary. With such things there is always a balance between the "just put everything in manually" solution and the "write a code to automate this" solution. Sometimes the first approach might be taken, but if you end up doing the same task 10 times, you might wish you had automated it the first time!


* student_0 87.3592999364 3.37866031026 32.8097794971
* student_1 9.86538375948 11.0437312624 38.4932617531
* student_2 25.963639253 20.8563583237 88.4300049955
* student_3 30.2038194796 22.812201764 85.2175968781
* student_4 16.5874952038 63.5631000888 86.9778753162
* student_5 57.0253746378 78.8878102638 18.4202631202
* student_6 50.5463216934 52.2568795177 84.4682984034
* student_7 78.9827218944 22.4422061024 2.00667872644
* student_8 78.9545904148 49.7611187489 46.7692351127
* student_9 64.735206255 81.4064311353 70.0081293759
* student_10 11.7269062969 62.72706027 10.2218481603
* student_11 71.4044529547 66.5836251842 10.2694872354
* student_12 81.3828376715 71.798158876 33.5844353739
* student_13 59.0420600512 80.1134095101 88.2724111772
* student_14 74.372018484 94.3984409391 77.5679312504
* student_15 5.14345903779 96.0881927358 64.0192557522
* student_16 51.6523760283 62.094671032 46.6902006538
* student_17 91.9095916802 75.4053875815 88.7899377962
* student_18 5.14728683748 65.1376023859 20.7781007454
* student_19 48.5992574523 50.1859764973 77.1063820482
* student_20 13.8820890827 4.51359403037 61.6067068397
* student_21 34.3808727896 5.55120497214 59.9145612904
* student_22 28.4280441591 75.8506212292 65.8736427871
* student_23 9.67244062007 73.6464379016 17.0263221461
* student_24 63.0906910542 33.5055666984 91.1132994181
* student_25 41.1944088063 32.5586632451 7.2766441878
* student_26 97.7590360722 73.5192294375 63.3297502109
* student_27 60.7651979143 34.2949461495 43.3947706873
* student_28 3.83213772216 22.3135097308 61.7020963915
* student_29 40.3269747767 4.16295597511 35.0905738466

First part - manually adding 6 entries

In [ ]:
partial_gradebook = {}
partial_gradebook["student_0"] = [87.3592999364, 3.37866031026, 32.8097794971]
partial_gradebook["student_1"] = [9.86538375948, 11.0437312624, 38.4932617531]
partial_gradebook["student_2"] = [25.963639253, 20.8563583237, 88.4300049955]
partial_gradebook["student_3"] = [30.2038194796, 22.812201764, 85.2175968781]
partial_gradebook["student_4"] = [16.5874952038, 63.5631000888, 86.9778753162]
partial_gradebook["student_5"] = [57.0253746378, 78.8878102638, 18.4202631202]

In [ ]:
def weight_mean(student_id, gradebook):
    weights = [0.2, 0.3, 0.5]
    total = 0
    for grade, weight in zip(gradebook[student_id], weights):
        total += grade*weight
    if total>50:
        achieved50plus = "Achieved more than 50%"
        return total, achieved50plus
    return total

In [ ]:
for key in partial_gradebook.keys():
    print(weight_mean(key, partial_gradebook))

34.890347828908006
24.532827007166
(55.66463784546, 'Achieved more than 50%')
(55.49322286417, 'Achieved more than 50%')
(65.8753667255, 'Achieved more than 50%')
44.2815495668

#### Automation

In [ ]:
file_pointer = open('gradebook.data', 'w')
file_pointer.write("""student_0 87.3592999364 3.37866031026 32.8097794971
student_1 9.86538375948 11.0437312624 38.4932617531
student_2 25.963639253 20.8563583237 88.4300049955
student_3 30.2038194796 22.812201764 85.2175968781
student_4 16.5874952038 63.5631000888 86.9778753162
student_5 57.0253746378 78.8878102638 18.4202631202
student_6 50.5463216934 52.2568795177 84.4682984034
student_7 78.9827218944 22.4422061024 2.00667872644
student_8 78.9545904148 49.7611187489 46.7692351127
student_9 64.735206255 81.4064311353 70.0081293759
student_10 11.7269062969 62.72706027 10.2218481603
student_11 71.4044529547 66.5836251842 10.2694872354
student_12 81.3828376715 71.798158876 33.5844353739
student_13 59.0420600512 80.1134095101 88.2724111772
student_14 74.372018484 94.3984409391 77.5679312504
student_15 5.14345903779 96.0881927358 64.0192557522
student_16 51.6523760283 62.094671032 46.6902006538
student_17 91.9095916802 75.4053875815 88.7899377962
student_18 5.14728683748 65.1376023859 20.7781007454
student_19 48.5992574523 50.1859764973 77.1063820482
student_20 13.8820890827 4.51359403037 61.6067068397
student_21 34.3808727896 5.55120497214 59.9145612904
student_22 28.4280441591 75.8506212292 65.8736427871
student_23 9.67244062007 73.6464379016 17.0263221461
student_24 63.0906910542 33.5055666984 91.1132994181
student_25 41.1944088063 32.5586632451 7.2766441878
student_26 97.7590360722 73.5192294375 63.3297502109
student_27 60.7651979143 34.2949461495 43.3947706873
student_28 3.83213772216 22.3135097308 61.7020963915
student_29 40.3269747767 4.16295597511 35.0905738466""")
file_pointer.close()

In [ ]:
full_gradebook = {}
with open('gradebook.data', 'r') as file_pointer:
    for line in file_pointer:
        # We need the strip method here to avoid the newline character being written twice!
        output = line.strip().split(" ")
        full_gradebook[output[0]] = [float(grade) for grade in output[1:]]

In [ ]:
full_gradebook

{'student_0': [87.3592999364, 3.37866031026, 32.8097794971],
 'student_1': [9.86538375948, 11.0437312624, 38.4932617531],
 'student_10': [11.7269062969, 62.72706027, 10.2218481603],
 'student_11': [71.4044529547, 66.5836251842, 10.2694872354],
 'student_12': [81.3828376715, 71.798158876, 33.5844353739],
 'student_13': [59.0420600512, 80.1134095101, 88.2724111772],
 'student_14': [74.372018484, 94.3984409391, 77.5679312504],
 'student_15': [5.14345903779, 96.0881927358, 64.0192557522],
 'student_16': [51.6523760283, 62.094671032, 46.6902006538],
 'student_17': [91.9095916802, 75.4053875815, 88.7899377962],
 'student_18': [5.14728683748, 65.1376023859, 20.7781007454],
 'student_19': [48.5992574523, 50.1859764973, 77.1063820482],
 'student_2': [25.963639253, 20.8563583237, 88.4300049955],
 'student_20': [13.8820890827, 4.51359403037, 61.6067068397],
 'student_21': [34.3808727896, 5.55120497214, 59.9145612904],
 'student_22': [28.4280441591, 75.8506212292, 65.8736427871],
 'student_23': [9.67244062007, 73.6464379016, 17.0263221461],
 'student_24': [63.0906910542, 33.5055666984, 91.1132994181],
 'student_25': [41.1944088063, 32.5586632451, 7.2766441878],
 'student_26': [97.7590360722, 73.5192294375, 63.3297502109],
 'student_27': [60.7651979143, 34.2949461495, 43.3947706873],
 'student_28': [3.83213772216, 22.3135097308, 61.7020963915],
 'student_29': [40.3269747767, 4.16295597511, 35.0905738466],
 'student_3': [30.2038194796, 22.812201764, 85.2175968781],
 'student_4': [16.5874952038, 63.5631000888, 86.9778753162],
 'student_5': [57.0253746378, 78.8878102638, 18.4202631202],
 'student_6': [50.5463216934, 52.2568795177, 84.4682984034],
 'student_7': [78.9827218944, 22.4422061024, 2.00667872644],
 'student_8': [78.9545904148, 49.7611187489, 46.7692351127],
 'student_9': [64.735206255, 81.4064311353, 70.0081293759]}

In [ ]:
for key in full_gradebook.keys():
    print(weight_mean(key, full_gradebook))

34.890347828908006
24.532827007166
(55.66463784546, 'Achieved more than 50%')
(55.49322286417, 'Achieved more than 50%')
(65.8753667255, 'Achieved more than 50%')
44.2815495668
(68.02047739569, 'Achieved more than 50%')
23.53254557282
(54.10387126398, 'Achieved more than 50%')
(72.37303527954, 'Achieved more than 50%')
26.27442342053
39.390721763900004
(54.60823288405, 'Achieved more than 50%')
(79.97864045187, 'Achieved more than 50%')
(81.97790160373, 'Achieved more than 50%')
(61.864777504398, 'Achieved more than 50%')
(52.30397684216, 'Achieved more than 50%')
(85.39850350858998, 'Achieved more than 50%')
30.959788455966
(63.32883546375, 'Achieved more than 50%')
34.933849445501004
38.498816694762
(61.377616594130004, 'Achieved more than 50%')
32.541580567543996
(68.22645792941, 'Achieved more than 50%')
21.64480282869
(73.27245115114, 'Achieved more than 50%')
44.13890877136001
38.311528659422
26.859568671173

## Exercise 12:

Write a Python function to take as input a list, and output 3 lists. The first output list should contain the 1st, 4th, 7th ... elements of the original list, the second list should contain the 2nd, 5th, 8th, ... elements and the third list should contain the 3rd, 6th, 9th, ... elements. So for example if the input is `['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']` the output should be `[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]`

In [ ]:
def split_lists_into_three(original_list):
    first_list = original_list[::3]
    second_list = original_list[1::3]
    third_list = original_list[2::3]
    return first_list, second_list, third_list

input_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

print("""This should give [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]""")
print(split_lists_into_three(input_list))

This should give [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]
(['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l'])