# Lecture 3 - Loops and lists complete notebook

In this lecture, we'll introduce loops and the python list object. We'll also continue to build upon the material from the first two lectures and continue to use these techniques while we explore loops and lists.

# Loops

If we want to do something many times, or for many different values, we can use a *for* loop. The lines of code to be repeated are indicated by *indenting* them. Code is indented by using 4 spaces (or Tab within Jupyter notebooks). You can type `Backspace` to remove an indentation.

The loop ends when there's a line with non-indented code, or when the code ends. Here is an example *for loop* which prints 10 numbers, then 'Done' when it's finished.

In [ ]:
for x in range(10):
    print('Inside the for loop')
    # You can have multiple indented lines
    print(x)
print('Done')

### Quick exercise

Use the __for__ loop to print the first 20 integers, use range(1, 21) to start from 1. Even though the range ended with $21$ what was the last integer that was printed?

There's several things we note here.

* The `for` line ends with a colon.
* We introduce the `range` builtin command. This can be used to loop over integers. If given only one value it will count the first ten numbers. If given 2 numbers (e.g. `range(4,19)` it will count from the first number to the second. If given 3 numbers (e.g. `range(4,19,3)` it will count from the first number to the second stepping forward by the third number each time. TRY THIS OUT TO MAKE THIS CLEAR!
* Python, when told to count ten numbers, by default will count from 0 to 9. (0 being the first number is an important concept in python, and most computing languages (but not MATLAB), we will explore this more next week).
* The last line of code is not indented, so it happens once, outside the loop.

Try printing the numbers from 0 to 5, and from 1 to 12.

Here's a schema of how the for loop works (when used with range):

![image.png]()

## Exercise

In the cell below, by using the __for__ loop print all the integers from the interval $[-20,20]$. Remember to use __range(a,b)__.

## Guided exercise

Let's look at something a little more complex. A pen and paper may be useful here. Consider the following bit of code:

In [ ]:
j = 5
for k in range(2, 6):
    j = j + k * (-1)**k

print(f"j  = {j}")

What is it doing? Could you predict (with pen and paper) what the value of `j` at the end was going to be. We currently have `j=5` on the first line, consider if we had instead `j=4` on the first line .. then what would the *final* value of `j` be?

To help with this let's step through what will happen in the loop (when `j=5` on the first line). The loop will loop over 4 values of k (first k=2, then k=3, then k=4, then k=5).

Before we enter the loop j has value 5. Then at each step

Step 1) k = 2, j = 5 + 2 * (-1)^2 = 5 + 2 = 7

Step 2) k = 3, j = 7 - 3 = 4

Step 3) k = 4, j = 4 + 4 = 8

Step 4) k = 5, j = 8 - 5 = 3

## Exercise

In the cell below, by using the __for__ loop, calculate and print the following sum:
$$ \sum_{i=1}^{n} i^2 = 1^2 + 2^2 + 3^2 + \ldots + n^2,$$
where $n=100$. (This means: loop over all numbers from 1 to 100, square each of them, and add them all together)

## Exercise

Look at the function defined below. Try to determine, on paper, exactly what it will return for some small values of n. Test that. Can you figure out what mathematical function this is calculating?

In [ ]:
def mystery(n):
    """This function is a mystery"""
    y = 1
    for x in range(1, n+1):
        y = y*x
    return y

## The while loop

We have already demonstrated the syntax for for loops. But sometimes looping over a set of numbers is not appropriate. For example if the problem is along the lines of "Store the first X numbers satisfying Y" you might not know how many numbers to consider to meet that criterion. With a `while` loop you can avoid this.

**Here's an example:** We have a hot drink and add ice cubes to it until it reaches drinking temperature.

In [ ]:
def cooling_hot_water(drinking_temp):
    boiling_temp = 100 # boiling water temp. 100 degrees
    current_temp = boiling_temp # current temp of the drink
    ice_cube_temp  = -5 # adding one ice cube drops the temp by 5 degrees
    number_of_ice_cubes = 0 # number of ice-cubes that has been added so far
    while current_temp > drinking_temp:
        current_temp += ice_cube_temp
        number_of_ice_cubes += 1
        print(f"The current temperature of your drink is {current_temp}, number of ice cubes added to the drink is {number_of_ice_cubes}")
    return current_temp

In [ ]:
drinking_temp = 35
cooling_hot_water(drinking_temp)

As soon as the `while` condition is not met the loop exits. You could also write this like:

In [ ]:
def cooling_hot_water(drinking_temp):
    boiling_temp = 100 # boiling water temp. 100 degrees
    current_temp = boiling_temp # current temp of the drink
    ice_cube_temp  = -5 # adding one ice cube drops the temp by 5 degrees
    number_of_ice_cubes = 0 # number of ice-cubes that has been added so far
    while True:
        if current_temp <= drinking_temp:
            break
        current_temp += ice_cube_temp
        number_of_ice_cubes += 1
        print(f"The current temperature of your drink is {current_temp}, number of ice cubes added to the drink is {number_of_ice_cubes}")
    return current_temp

drinking_temp = 35
cooling_hot_water(drinking_temp)

Here `while True` means "Loop until you manually tell me to stop". `True` will always be true. The `break` statement is used here to break from the loop. Be careful with while loops, it is possible to write cases that will *never* exit and will run forever ... Like this example:

In [ ]:
def cooling_hot_water(drinking_temp):
    boiling_temp = 100 # boiling water temp. 100 degrees
    current_temp = boiling_temp # current temp of the drink
    ice_cube_temp  = -5 # adding one ice cube drops the temp by 5 degrees
    number_of_ice_cubes = 0 # number of ice-cubes that has been added so far
    while True:
        if current_temp <= drinking_temp:
            break
        # current_temp += ice_cube_temp  <- WHOOPS, forgot to cool the drink down when ice cube is added!!
        number_of_ice_cubes += 1
        print(f"The current temperature of your drink is {current_temp}, number of ice cubes added to the drink is {number_of_ice_cubes}")
    return current_temp

drinking_temp = 35
cooling_hot_water(drinking_temp)

**You now need to use the stop button to tell the computer to stop running this! Go to Runtime -> Interrupt execution**

Let me also introduce the `continue` statement. This means "move to the next iteration of the loop". For example in this case we want to print the first 100 numbers which are multiples of 5 *or* of 7, but we don't want to print a number at all if it's a multiple of both ... In this case `and`s and `or`s could also do this, but it illustrates the point

In [ ]:
def print_multiples_of_N_or_M(N, M, num_to_print):
    """Print the first num_to_print multiples of N or M, but not both, starting from 1."""
    # In our example N is 7, M is 5, and num_to_print is 100, but these could be other values
    number_printed = 0
    current_number = 1
    while True:
        if (current_number % N == 0) and (current_number % M == 0):
            # Multiple of both, don't consider any carry on
            current_number += 1
            continue # GO TO THE NEXT ITERATION OF THE FOR/WHILE LOOP.
        if (current_number % N == 0):
            number_printed += 1
            print("{} is a multiple of {} and I've printed {} numbers".format(current_number, N, number_printed))
        if (current_number % M == 0):
            number_printed += 1
            print("{} is a multiple of {} and I've printed {} numbers".format(current_number, M, number_printed))

        current_number += 1

        if number_printed == num_to_print:
            break # break is used to exit a while, or for, loop NOW.

print_multiples_of_N_or_M(5, 7, 100)

## EXERCISE:

Write a function to print the first 20 integers greater than 0 that:

* Are even
* Are multiples of 3.

## Writing sums as functions, using functions within functions

We want to calculate the following general sum:

$$\sum_{k = 1}^{100} f(k) $$

where $f$ is some function.

For the specific case $f(k) = \frac{1}{k^2}$ we would be computing

$$\sum_{k = 1}^{100} \frac{1}{k^2} $$


and we could use the following code:

In [ ]:
def my_sum(start, stop):
    """Sum the function 1/k^2 for integers between start and stop (inclusive)"""
    total = 0
    for k in range(start, stop + 1):
        total = total + (1 / k**2)
    return total

print(my_sum(1,100))

But we could make this more general by allowing this to work on *any* function.

Let's change this to accept an additional argument `my_func`

In [ ]:
def my_sum(start, stop, my_func):
    """Sum the function 1/k^2 for integers between start and stop (inclusive)"""
    total = 0
    for k in range(start, stop + 1):
        total = total + my_func(k)
    return total

Now to call this we have to provide a start, a stop, *and* the form of $f(k)$, my function. So for $f(k) = \frac{1}{k^2}$ we would do

In [ ]:
def my_func(k):
    """Return 1/k**2"""
    return 1/k**2

print(my_sum(1, 100, my_func))

## Exercise

Using the above compute

$$ \sum_{k=1}^{1000} \frac{1}{k^2}.$$

## Exercise

Compute

$$ \sum_{k=5}^{75} k^3 - 7k^2 + k.$$

# Lists

__List__ is an ordered sequence of information (data), which can be accessed by index (the position in the list).
- A list is denoted by square brackets, <br> $\verb:[item1, item2,:$ $\ldots$ $\verb:, itemN]:$, and has elements separated by a comma.
- An empty list is a similar object to an empty set in mathematics; An empty list is represented by $\verb|[]|$.
- Elements of the list are usually of the same type, e.g. integers, or floats, however it is possible to a list can contain mixed types.
- List elements, unlike string elements,  can be changed. This means that list is __mutable__.


When we want to store multiple objects in order, we need a list. There are several different ways to create a list. The simplest is with square brackets, e.g.

`lst = [0, 1, 2, 3]`

If we want to know the length of a list, we use one of Python's built-in functions:

`len(lst)`

Try this, and also check the type of the list.

Does a list have to contain only integers? Try putting other things in a list, like floats, strings, and other lists. Does the length count the lists inside a list?

Now make an empty list. What do you expect its length to be? Are you right?

Some things can be converted to lists. We do it the same way as converting to an integer or string, by using the name of the type:

`list("a")`

Try this, and try a longer string. Does it work with an integer or float? What if you call `list` on something that's already a list?

## Building a list with a for loop

To build a list, we can start with an empty list, then in a loop append values to that list. Here's how this would work:

In [ ]:
my_list1 = []
for ii in range(10):
    my_list1.append(ii)
print(my_list1)

## Exercise

Make a list of the first 7 powers of 3 ($3^1$, $3^2$, etc.).

## Exercise

Make a list of the first 100 odd numbers. Check that it's 100 long.

**Important**: a for loop doesn't have to just use `range`. It can also iterate through a list that you provide. Here's an example:

In [ ]:
for x in [1, 2., 'a']:
    print(x)

## Exercise

Write a nested for loop (one loop inside another) that prints a truth table for the 'or' operator. Use two variables `a` and `b` that take all combinations of True and False, and show the value of `(a or b)`. For example, you should have

    a b => (a and b)
    True True => True
    True False => True
    False True => True
    False False => False

### Indices and ordering

Lists are *ordered*, this simply means that you have "the first object in the list", "the second object in the list", etc.
An __index__ is a position of an element in the list. In python, the first element of a list has index $0$ not $1$, therefore indices start from $0$. **REMEMBER THIS** in python we count from 0 ... This is true in *most* computer languages, but as we will see in TB2, it is not true in matlab.

We can access elements of the list below (`pow_list`) in the following way: If we want the second element we do `pow_list[1]`. **SAYING THIS AGAIN** python counts from 0, so the first element of the list (the 1) is at position "0", the second element (the 4) at position "1" and so on.

In [ ]:
pow_list = [1, 4, 9, 16, 25, 36]

## EXERCISE

Print the 1st, 4th and 7th elements of this list

If you try to access an element of the list that is out of bounds the code will fail.

## EXERCISE

Try to access the 8th element of this list

However, there is a strange (but sometimes useful) feature that you can index on negative numbers. For example `pow_list[-1]` will access the *last* element of the list, `pow_list[-2]` the *second* to last element and so on. `pow_list[-8]` will still fail.

### Changing elements

Lists are a "mutable" type. This means that we can change the values of the elements in the list at will. For example let's change the second value of this list to 15.

In [ ]:
# Setting the list again explicitly here in case there were issues above
pow_list = [1, 4, 9, 16, 25, 36]
pow_list[1] = 15
print(pow_list)

We can change the value back, and again see how this changes

In [ ]:
pow_list[1] = 4
print(pow_list)

You can see that the value has changed within the list. If you were to send this list to a function, and the function changes the value, the same thing happens:

In [ ]:
def change_value_1(input_list):
    input_list[1] = 15
    return input_list

pow_list = [1, 4, 9, 16, 25, 36]
change_value_1(pow_list)
print(pow_list)

**BUT BE CAREFUL HERE** if you assign a list to variables, and change a value in one, it changes both, as both variables reference the same object. If you want to make a copy of the list you have to create a new object and fill it with the same values.

In [ ]:
def change_value_1(input_list):
    input_list[1] = 15
    return input_list

pow_list = [1, 4, 9, 16, 25, 36]
# Let's copy the list badly!
backed_up_pow_list = pow_list
# Now we copy it properly!
properly_backed_up_pow_list = []
for entry in pow_list:
    properly_backed_up_pow_list.append(entry)

# Now change a value in the original list.
change_value_1(pow_list)
print("Here is the list we changed")
print(pow_list)
print()

# Oh no this changed too!
print("Here is the copied list, which has also changed!! Be careful!")
print(backed_up_pow_list)
print()

# But this does not change
print("Here is the correctly copied list, this has not changed.")
print(properly_backed_up_pow_list)
print()

### Iterating over lists

Given a list:

In [ ]:
med_list = [1, 4, 5, 6, 2, 9, 10, 16, 38, 16]

we may iterate over its elements, say we wanted to print each of the elements:

In [ ]:
N = len(med_list)

for k in range(N):
    print(med_list[k], end = " ")

**BUT** it is much easier to do this by lopping over the items in the list directly, and it is more *pythonic*.

In [ ]:
for item in med_list:
    print(item, end=" ") # Note the `end = " "` makes sure everything is printed on a single line!

The range object is something clever (for a later class!) but it can be converted to a simple list by doing:

In [ ]:
list(range(10))

This lets us create easy lists of consecutive numbers!

## Exercise

Create a list of the first 7 powers of 4 ($4^1$, $4^2$, .. $4^7$.). Hint: remember the 'append' to list function.

This list should be `[4, 16, 64, 256, 1024, 4096, 16384]`

## Exercise

* 1) Create a list of $x + 3 x^2 + 5 x^5$ for x between 1 and 7. E.g. `[(1 + 3* 1**2 + 5 * 1**5), (2 + 3* 2**2 + 5 * 2**5), ...]`
* 2) Change all values of the list where x is even (the 2nd, 4th and 6th values) to be $-x + 3 x^2 - 5 x^5$
* Your list should now look like `[9, -150, 1245, -5076, 15705, -38778, 84189]`.

You can also remove values from a list. Let's say that we want to remove the 4th entry (x=4) from our list of powers of 4 above. So that the list would contain ($4^1$, $4^2$, $4^3$, $4^5$, $4^6$, $4^7$.) There's a few ways to do this. Let's illustrate:

In [ ]:
pow_list = [4, 16, 64, 256, 1024, 4096, 16384]

pow_list_copy = pow_list

# There's a couple of ways to remove items from the list "in place".
# This means that the original list is destroyed and only the new list remains

# This way removes the element at position 3 (the fourth element remember, as we count from zero!) The number
# removed can be saved to a variable
removed_value = pow_list.pop(3)
print("Using .pop method")
print(removed_value)
print(pow_list)
# Note that the copied list is also changed
print("Copied list", pow_list_copy)
print()

In [ ]:
# This is basically the same idea, but here we remove the first number equal to 256.
pow_list = [4, 16, 64, 256, 1024, 4096, 16384]
pow_list_copy = pow_list
# The .remove method does *not* return the removed number
pow_list.remove(256)
print("Using .remove method")
print(pow_list)
# Note that the copied list is also changed
print("Copied list", pow_list_copy)

In [ ]:
# We could also construct a new list, which doesn't contain this value
pow_list = [4, 16, 64, 256, 1024, 4096, 16384]
pow_list_copy = pow_list

pow_list = [pow_list[0], pow_list[1], pow_list[2], pow_list[4], pow_list[5], pow_list[6]]
# NOTE: This above line is a bit tricksy. We are redefining a variable using values from the original variable.
# This is okay but pow_list changes once this is evaluated.

print("Redefining the list")
print(pow_list)
print("Copied list, look this hasn't changed!", pow_list_copy)

In [ ]:
# A shorthand way of doing what was written above is the following:

pow_list = [4, 16, 64, 256, 1024, 4096, 16384]
pow_list_copy = pow_list

pow_list = pow_list[0:3] + pow_list[4:7]
# This introduces the "slicing" syntax. You will need to be familiar with this for later classes, don't worry, we'll
# give lots of practice in future classes!

# Here pow_list[0:3] means all elements of pow_list between 0 and 2. The first element *is* included, the last
# element is *not* included. That's a bit weird, again, more practice will come!

# Finally as pow_list[0:3] and pow_list[4:7] are both lists, we join them together with the "+" operator

print("Redefining the list")
print(pow_list)
print("Copied list, look this hasn't changed!", pow_list_copy)

## EXERCISE

* 1) Create a list of $x^{1./4.}$ for x between and including x=20 and x=120.
* 2) Change the 20th, 40th, 60th and 80th elements to be 1.
* 3) Remove the 10th, 30th, 50th, 70th and 90th elements.
* 4) For the new list (should now be 96 elements long). Change the 15th and 25th elements to 0.

In [ ]:
expected_answer = [2.114742526881128, 2.1406951429280725, 2.1657367706679937, 2.189938703094842, 2.213363839400643, 2.23606797749979, 2.2581008643532257, 2.2795070569547775, 2.300326633791206, 2.340347319320716, 2.359611061770567, 2.378414230005442, 2.39678172692843, 2.414736402766418, 0, 2.449489742783178, 2.4663257145596607, 2.4828237961983883, 1, 2.514866859365871, 2.530439534435243, 2.5457298950218306, 2.5607496020310148, 2.5755095769013945, 0, 2.604290687140218, 2.6183304986958853, 2.6321480259049848, 2.6591479484724942, 2.6723451177837885, 2.68534961428265, 2.6981678764080854, 2.7108060108295344, 2.7232698153315003, 2.7355647997347607, 2.7476962050544724, 2.7596690210718946, 1, 2.7831576837137404, 2.794682392671241, 2.806066263296683, 2.8173132472612576, 2.8284271247461903, 2.8394115144336776, 2.8502698827717983, 2.861005552576305, 2.8716217110259006, 2.892507608519078, 2.9027831081870996, 2.9129506302439405, 2.923012785691765, 2.932972087668518, 2.942830956382712, 2.9525917237371893, 2.962256637665299, 2.9718278662008415, 1, 2.990697562442441, 3.0, 3.009216698434564, 3.018349479292333, 3.027400104035091, 3.036370276710811, 3.0452616464756694, 3.0540758099773515, 3.062814313608786, 3.080070288241023, 3.088590619387661, 3.0970410146824725, 3.1054227990714813, 3.11373725847777, 3.121985641352145, 3.1301691601465746, 3.138288992714996, 3.1463462836457885, 1, 3.1622776601683795, 3.1701538797227005, 3.1779718278112656, 3.1857325005549697, 3.19343686757474, 3.2010858729436795, 3.208680436096278, 3.216221452697031, 3.2237097954706257, 3.238531840464366, 3.245867180408456, 3.2531531233955713, 3.260390438695134, 3.2675798769167543, 3.2747221706220526, 3.281818034911291, 3.288868167986058, 3.295873251689181, 3.3028339520229766, 3.309750919646873]

# Make sure your list from aboveis called your_list!!!

max_difference = 0
for i in range(len(your_list)):
    current_diff = abs(expected_answer[i] - your_list[i])
    if current_diff > max_difference:
        max_difference = current_diff

print("Maximum difference. This should be 0 (but might be almost 0 due to rounding error):", max_difference)

### Summing over a list

We've already shown above how we can use for loops to sum over lists. However, this can also be done using the builtin `sum` function in python. Here's how this works

In [ ]:
med_list = [1, 4, 5, 6, 2, 9, 10, 16, 38, 16]

# Summation using a for loop

total = 0
for item in med_list:
    total = total + item

print(total)

# Direct summation using `sum`
print(sum(med_list))

### Adding two lists together.

To combine (concatenate) two lists together we can use the addition operator.

In [ ]:
L1 = [4,7,8]
L2 = [7,3,1]

L3 = L1 + L2

print (L1, L2, L3)

In [ ]:
L1 = [4,7,8]
L2 = [7,3,1]

# To combine these together without creating a new variable we could do
L1.extend(L2)
# But now we no longer have the original list L1

print (L1, L2)

## Quick exercise
Create two lists
- list1, to have elements  2,4,6,8,10,
- list2, to have elements, 1,3,5,7,9
Now concatenate them together that you obtain a list that has elements $1, 2, 3, 4, 5, 6, 7, 8, 9, 10$.

# Summary exercises

## Exercise 1

Write a function containing a for loop and a conditional such that it prints the even numbers up to 100.

## Exercise 2

Write a function which sums the numbers up to n, and returns the result. Test it.

## Exercise 3

Using some of the stuff defined above, find
$$ \sum_{k=0}^{100}  \frac{4(-1)^k}{2k+1},$$
write your code in the cell (you may add more cells) below. We showed two examples for computing sums here, one using a for loop and a running count, one using the `sum` function, try using both. Which is more appropriate here? Discuss!

## Exercise 4

* Create a list of the first 100 numbers.
* Square (multiply the number by itself) all the numbers in the list which are not divisible by 7. Remember that 'divide and give remainder' is the % operator.

## Exercise 5

Find
$$ \sum_{k=0}^{100}  \frac{4}{(4k+1)(4k+3)},$$
write your code in the cell (you may add more cells) below.

## Exercise 6

Create a function __consec_integers__ that has two inputs:
    - a an integer,
    - b an integer

and it returns a list of all integers between $a$ and $b$ (including them).

Test your function with a few inputs.

## Exercise 7
To check if $x$ is an element of a list __mylist__ you may use:
    $$\verb|x in mylist |$$

To check if $x$ is not an element of a list __mylist__ you may use:
    $$\verb|x not in mylist |$$
Create a function __common_element__ that has two inputs:
- listA, a list of some elements,
- listB, a list of some elements.

It should return all elements that are both in listA and listB, so common elements of these two lists.

Test your function with the following lists:
- $[1, 4, 5, 6, 8, 9, 13, 16, 18, 23]$,
- $[5, 8, 11, 12, 13, 15, 17, 18]$

## Exercise 8

Write a nested for loop (one loop inside another) that prints a truth table for the 'or' operator. Use two variables `a` and `b` that take all combinations of True and False, and show the value of `(a or b)`. For example, you should have

    a b => (a and b)
    True True => True
    True False => True
    False True => True
    False False => False

## Exercise 9

In the cell below, by using the __for__ loop, calculate and print the following sum
$$ \sum_{k=m}^n \frac{(k+1)^2}{k^3},$$
where $m=10$, $n=100$.

## Exercise 10

Compute the first 15 numbers in the Fibonacci series (we've described this in previous classes .... or Google it) that are greater than 10 and are multiples of 3. The 15th number should be 10610209857723.

## Exercise 11 - The factorial function

Let us, again, consider a factorial of a natural number $n$ where n is a positive integer. It is defined as follows
$$ n! = 1 \cdot 2 \cdot 3 \cdots (n-1)\cdot n,$$
and $0! = 1$.

We can write this in shorthand using the **big pi** operator.

$$n ! = \prod_{k=1}^n k$$

So __big pi__ is a similar operator to $\Sigma$ but represents a product rather than a sum.

Write a factorial function using a similar approach to our summation function (except using multiplication instead of addition!)

## Exercise 12

Calculate
$$ \prod_{k=1}^{10} \frac{1}{k^2}$$

(The answer should be very small!)

## Exercise 13

The $n$-th term of the arithmetic sequence
$$ a_1, a_2, \ldots, a_n \ldots $$
is given by
$$ a_n = a_1 + (n-1)d,$$
where $a_1$ is the first term of the sequence,
and $d$ is the common difference of successive members.

Write a function __arithm_seq__ with three inputs:
- a1 (any numerical)
- n (positive int)
- d (any numerical)

so that it returns the n-th element of the arithmetic sequence with these parameters.

Given that $a_1 = 3$, $n = 17$ and $d = \frac{4}{3}$ use your function __geo_seq__
to print $a_{17}$.

**Then** find the sum
$$\sum_{k=1}^{100}a_k$$
of first $100$ terms of the arithmetic progression,  
with $a_1 = 5$, $d = \frac{3}{2}$, $n=12$.

## Exercise 14

Write a function which determines if an integer is prime (meaning it has no number other than one that divides it without a remainder). Remember the remainder operator is `x % y`. This function will need a loop and a conditional.

You can check if two things are not equal either with

`if x != y:`

or

`if not x == y`:

## Exercise 15 - Challenging

In 14th century an Indian mathematician and astronomer, __Madhava of Sangamagrama__,
gave a method for computing the value of $\pi$ with precision to $11$ decimal places.

He showed that
$$ \pi \approx \sqrt{12}\sum_{k=0}^{21} \frac{(-3)^{-k}}{2k+1} = \sqrt{12}\sum_{k=0}^{21} \frac{(-\frac{1}{3})^k}{2k+1} =  \sum_{k=0}^{21} \sqrt{12} \frac{(-\frac{1}{3})^k}{2k+1}$$
is correct to 11 decimal places

Use this expression to compute $\pi$ and check it's accuracy against `math.pi`

## Exercise 16 - Challenging

In 1656 English mathematician, John Wallis, approximated $\pi$ with products, that is,
$$\pi  = 2 \prod_{n=1}^{M} \frac{ 4n^2 }{ 4n^2 - 1 } $$
when $M$ becomes large (converges to infinity).

As you increase $M$ the product will get closer to $\pi$.

Compute this with the largest value of $M$ that you can (NOTE: using M = 210938120983723897546823764 will not work as the code will never finish!) How accurate can you make this?

## Exercise 17

Write a function to return the first 10 even prime numbers.

**NOTE** Sometimes as mathematicians/physicists if you understand the question being asked you can solve it much quicker than someone without your background! Think carefully about this one!

## Exercise 18 Caesar Shift - Challenge

Write functions to impliment (code and decode) a Caesar Shift cipher.

Use your functions to decode "KYV ERKZFERC TZGYVI TYRCCVEXV JKRIKJ FE KYV JZOKY FW FTKFSVI. ZK JKRIKJ HLZKV VRJP SLK JFFE XVKJ UZWWZTLCK. ZK ZJ WIVV KF VEKVI."

There are several ways to do this. One way that uses only skills we have covered so far, and the fact that Python has a function 'ord' that returns 65 for 'A' and 90 for 'Z', is outlined below:

1. Define a string that contains the alphabet in upper case letters.
2. Write a function that slices the alphabet, making a new string with letters shifted n places, and wrapped so all letters are present. I'll call this the key.
3. Write a new function that creates a new string containing the coded/decoded text, by examining each letter in the text in turn and adding the equivalent letter from the key to the new string.
4. Write a short function that prints all 26 possible Caesar shift versions of the text. One of them should make sense.

Things to consider:
How to cope with a character that is not in the alphabet. Ciphertext is conventionally in upper case, with plaintext in lower case. The method described above is a brute force approach. You could use frequency analysis on a long text, or look for single-letter words.