# Lecture 1 - Introduction: full lecture in a single notebook

Welcome to Computational SMAP! We'll be teaching you how to use Python 3 by using Jupyter notebooks. This is a Jupyter notebook. The notebook gives you an interactive programming environment where you can test out ideas, and mix code, plots, and notes.

## Quick note about Colab/Jupyter cells

A "cell" is a box in the Jupyter notebook. You can see one below.

When you are editing a cell in Jupyter notebook, you need to run (or re-run) the cell by pressing **`<Shift> + <Enter>`**. This will allow changes you made to be available to other cells.

Use **`<Enter>`** to make new lines inside a cell you are editing.

### Code cells

Re-running will execute any statements you have written. To edit an existing code cell, click on it.

### Text cells (also known as Markdown cells)

Re-running will render the text cell. To edit an existing markdown cell, double-click on it.

<hr>

## Common Colab/Jupyter operations

Near the top of the page, Colab provides a row of menu options (`File`, `Edit`, `View`, `Insert`, ...).  Also, after highlighting a cell there is a row of icons appearing on the RHS: ![image.png]()

### Inserting and removing cells

- Use the ![image.png]() buttons to insert either a code or text cell below the currently selected cell.

### Clear the output of all cells

- Use "EDIT" -> "Clear All OUTPUTS"

### Clearing the memory / restarting the kernel

- Use "Runtime" -> "Restart Runtime".

### Save your notebook file locally

- Clear the output of all cells
- Use "File" -> "Download .ipynb" to download a notebook file representing your session

## References

- https://colab.research.google.com/notebooks/intro.ipynb#

Here is a link to Google's own introduction to Google Colab.

<hr>

## Getting started - Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

### Checking the types

In order to check the type of an object, we use `type(<input_object>)`, where `<input_object>` is your input.
Try the following (remember <shift> + <enter> to run the cells!):

In [ ]:
print(type(10))

<class 'int'>

In [ ]:
print(type(10.0))

<class 'float'>

In [ ]:
print(type(-3))

<class 'int'>

In [ ]:
print(type(3.14))

<class 'float'>

In [ ]:
print(type("this is a string"))

<class 'str'>

In [ ]:
print(type('this is also a string'))

<class 'str'>

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(type("True"))

<class 'str'>

In [ ]:
print(type(None))

<class 'NoneType'>

Did all of that make sense? Was any answer unexpected? If so, ask one of us! This course relies on us discussing anything that's not clear, so make sure to talk to us.

Note that we have used the `print( .. )` command here. Anything within `print( .. )` will be printed after the cell runs.

## Quick Exercise

What is the correct type of
- a) 4.5
- b) 1.0
- c) 2
- d) "Hello World"
- e) False
- f) "False"

Please check your answers in the cell below, by using `type()`. You can put multiple `print( .. )` statements in the same cell, try it!

## Printing results

In order to print results in the same cell, one below the other. Use <b>print (<your_expression>) </b> as follows

In [ ]:
print("You can use multiple")
print("lines in a cell")
print("This works for all python operations")
print("not just the print statement")

## Basic operators ... You will never need a calculator again!

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - **`//`** (integer division)
  - **`%`** (modulus ... this means the remainder if doing junior school division. So if 9 / 4 is equal to "2 remainder 1" then 9 % 4 is equal to 1 and 9 // 4 is equal to 2)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS/BODMAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

## Simple Expressions - Maths

Everything in a notebook is in cells. Text like what you're reading right now goes in a 'Markdown' cell. Code goes in a code cell, like the one below. Try doing a simple math calculation like $2+2$, and push `Shift+Enter` or click 'Run' in the top bar to evaluate it.

Now try multiplying, dividing, subtraction. When you evaluate a Python command in a code cell, the result is printed below the cell. You can put multiple lines in a cell by using `Enter` between them. When you evaluate the cell, the output is only the last value calculated. Try it.

Most math expressions are straightforward. One slightly unusual thing is the power operator. We code $x^y$ as `x**y`. Try using this to:
 1. Find $2^{10}$.
 2. Find the square root of a million.
 3. Find the cube root of $4913$.

The standard division operator is `/`, for instance $1/4 = 0.25$. There is also the integer division operator `//` and the remainder operator `%` which are described above.

**Exercise** Try a few things like `7//3` and `7%3` to see how they work.

**Exercise** Demonstrate how these operators (or just one of them!) can be used to quickly evaluate if a number is even or odd

**WARNING** we will be using `//` and `%` for problems in the coming weeks, and will require you to identify *when* to use them. Still confused about what these do? Ask one of us!

### Operations with different types

When you combine types in an expression, Python will try to do what it thinks is the most sensible thing. Let's explore this:

`1` is an integer. `2` is an integer.

**Exercise** What is the type of `1/2`? . What about `5.0 * 2`? Is that the same as `5 * 2`

**Exercise** What is the type of `1 // 2` and `1 % 2`

**Exercise** What is the type of `5.0 * 2`? Is that the same type as `5 * 2`

### The complex number type

There's also a complex type, which are made in the form `1+2j` or `0.5-0.3j` where `j` is defined as the square-root of `-1` (normally written in maths/physics as `i`). (If complex numbers doesn't mean anything to you now, don't worry. It will do soon, and this could very well be useful in the future!)

**Exercise** What is the type of `1 + 2j`?

In [ ]:
1 + 2j

## Variables

Variables are used to store values and other objects. To create a variable, you use the assignment operator, like `x = 1`.

Variables should be
    <ul>
			<li> descriptive</li>
			<li> meaningful</li>
			<li> helps to re-read the code</li>
			<li> keywords cannot be used as a name</li>
    </ul>

Values assigned to a variable are
	<ul>
			<li> information that is stored</li>
			<li> can be updated</li>
	</ul>

Assigning a value to a variable in steps:

* We start with `name_of_a_variable = <expression>`.
* Python computes the right hand side to obtain a value
* Then stores it (in the left hand side) as a variable.

You can always replace the value of the variable by using the assignment operator `=`


**Let's try it**. Set x to 1, y to 2, and then calculate something with them, like x*y.

Here's a bunch of examples to show how to use these to do basic arithmetic

In [ ]:
# Assigning some numbers to different variables
# NOTE: This is a comment, it's just to help you understand the code, the computer will ignore it!
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [ ]:
# Addition
num1 + num2

7

In [ ]:
# Subtraction
num2 - num3

-10.41

In [ ]:
# Multiplication
num3 * num4

-4.446

In [ ]:
# Division
num4 / num5

-0.08571428571428572

In [ ]:
# Exponent (powers)
num5 ** num6

343

What happens if we set a variable to another one? Try doing `x = y`. Think about what x and y should be, *then* test whether you're correct.

In [ ]:
x = 5
y = 2
print(x, y)
x = y
print(x, y)

5 2
2 2

In [ ]:
y = 3
print(x, y)

2 3

Now set y to something else, like `y = 3`. What will x be after doing that? There are two possibilities. Think about them both, then test it. Try to explain to someone else the two possibilities, and what you've just learned about how Python treats variables.

Variable names should be descriptive but not too long. Any name made with letters, numbers, and underscores will work if it's not a reserved Python keyword. Examples are `energy`, `variable7`, and `very_long_variable_name`. Try assigning to a few of your own.

You can make your code clear by choosing good variable names, and also by writing comments. A comment is made by putting text after a hash sign.

In [ ]:
# Example of a Python comment

some_variable = 5 # You can put a comment after a statement

# You can add a hash sign before a line
# to temporarily stop it from being evaluated
# when you're trying to debug your code, e.g.:

# another_variable = 10*(some broken code)

There's also some quick ways to write basic operators, let us demonstrate

In [ ]:
# Increment existing variable
num7 += 10 # the same as num7 = num7 + 10
num7

21.11

In [ ]:
# Decrement existing variable
num6 -= 2 # the same as num6 = num6 - 2
num6

1

In [ ]:
# Multiply & re-assign
num7 *= 5 # the same as num3 = num3*5
num7

105.55

### Swapping variables

You have two variables `x` and `y`. You want to swap their values so that the value of `x` is stored in `y` and the value of `y` is stored in `x`.

<font color="red"><b>This won't work!</b></font>

In [ ]:
x = 5
y = 4
y = x
x = y

In the cell below try to print `x` and `y`:

What is wrong?

<font color="blue"><b>Correct</b></font>

In [ ]:
x = 5
y = 4
temp_var = y
y = x
x = temp_var

Again, try printing `x` and `y`, is it correct now? Consider what happened here from the computer's perspective? Do you understand why one method worked and the other didn't? If not: Ask one of us!

## Comparison operators


The comparison operators in python are:

- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

To illustrate using these, 3 is bigger than 2 so doing:

In [ ]:
3 > 2

True

returns True. Using some of the variables defined above we can try this out a few times:

In [ ]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [ ]:
# Are these two expressions equal to each other?
# Note I use brackets to make it clear what is being compared and the order in which to evaluate.
(num1 + num2) == num5

True

In [ ]:
# Is the first expression less than the second expression?
num5 < num6

False

In [ ]:
# Is this expression True?
5 > 3

True

In [ ]:
# You can do messy things like this. But what does it actually mean? Don't write things like this!
# Simple rule with coding: If it isn't clear what's going on, can you write it in a clearer way?
5 > 3 < 4 == 3 + 1

True

## The string type

A string is made by enclosing something in quotes. Here are three different ways of making a string. All are allowed, and you'll see all of them.

In [ ]:
string1 = 'string1'
string2 = "string2"
string3 = """string3""" # Triple quotes

The first two are common with short strings. If you want a long string that spans several lines, or that contains quotes in it, you can enclose it in triple quotes.

Now let's try some operations on strings. For each, think about what you expect, remembering that Python should try to do the most sensible thing if it can.
 1. Can you add two strings?
 2. Can you add a number to a string?
 3. Can you multiply two strings?
 4. Can you multiply a string by an integer?
 5. If two strings have the same content, what happens if I do `string1` == `string2`
 6. What happens if you do `string1` > `string2`? Try with some test examples to figure out what's going on. Discuss with us!

## Type Conversion

The name of the type is also a function that converts an object to that type (if possible). For instance, you can turn an integer to a float by doing `float(5)`.

 1. Convert a float to an integer. What does it do with the decimal part? (Try a few to be sure)
 2. What kind of strings can be converted to int or float?

## Errors

By now, you've seen a few examples of errors. Let's look at one in detail. Below, we've tried to access a variable that doesn't exist. Python stops, but gives us a lot of helpful information. It tells us the name of the error, and gives a traceback. The traceback points to the line with the error. The final line gives more detail about this specific error - here it names the variable which we tried to access but wasn't actually defined.

In [ ]:

2*z

0

Try going back and looking at other errors from before. Do they make sense? See how many other different error types you can discover below.

## Summary

We've now introduced all the new concepts in week 1. Specific learning outcomes from this week arey

* We want you to be able to use Google Colab, open the work notebooks in Colab, save them and be able to find your previous work.
* We want you to be able to use *arithmetic operators* in python
* We want you to be able to use *variables* and the *assignment operator* and know how to suitably name your variables.
* We want you to be able to use *comparison operators* in python.
* We want you to be able to recognize an error, identify the type of the error and know where to look to see the error message.
* We want you to be able to get the *type* of a variable/object in python and know how to perform *type conversion* to change the type of an object.
* We want you to be able to use and manipulate *strings* in python.

To test these learning outcomes please continue and work through the summary exercises. Every week we will produce summary exercises. Within the next few weeks the final summary exercises will become challenging.

Your aim every week will be to work through the main body of the notebook, and then to attempt as many of the summary exercises as possible. This work should be done during the 2 hours timetabled in the lab, but also in the 3 hours assigned to work on this module outside of the timetabled lab classes. We will release solutions (video and on the website) for all exercises at the beginning of the next week. Also ask questions in the drop-in classes.

Now try the summary exercises for week 1!

## Exercises

### Exercise 1

In the cell below assign your three favourite digits to three variables,
- `fav_num1`, `fav_num2`, `fav_num3`

In the cell below, display

`fav_num1 + fav_num2 - fav_num3`

Now try:
$$\frac{\mbox{fav_num1} + \mbox{fav_num2}}{\mbox{fav_num2} - \mbox{fav_num3}}$$
you need to put both numerator and denominator in (separate) round brackets, and use / for the __fraction bar__.
Please try it in the cell below.

Now try
$$\mbox{fav_num1}  + \frac{\mbox{fav_num2}}{\mbox{fav_num3}} - \mbox{fav_num2} $$

In the cell below, display
$$(\mbox{fav_num1})^{ (\mbox{fav_num3})}$$
that is, __fav_num1__ to the power of __fav_num3__.

Now try some boolean expressions:

In the cells below evaluate the expressions above these empty cells:

$$\mbox{fav_num1} < \mbox{fav_num3}$$

$$\mbox{fav_num2} > \mbox{fav_num3}$$

$$\mbox{fav_num2} <= \mbox{fav_num1}$$

$$\mbox{fav_num3} >= \mbox{fav_num2}$$

$$\mbox{fav_num1} == \mbox{fav_num1}$$

$$\mbox{fav_num1} != \mbox{fav_num2}$$

## Exercise 2

What results do the following expressions produce, when typed into the cells below (each one to a new cell. Make new cells as needed)

* `1+1`   
* `1+3-8`   
* `2*3`   
* `4/2`  
* `1/3`    
* `1//3`  
* `2**2`
* `2**3`
* `2**0.5`
* `5 % 3`

## Exercise 3

In Mathematical notation, we often omit the multiplication symbol. What happens in a Python expression such as
$2 \times 3$ if you omit the multiplication and use a space instead? (Make a note of what you find.)

## Exercise 4

In Maths and Physics, we often deal with expressions involving unknowns. What happens if you type the following into the cell below?
$$ 2 + x + x $$

Python requires all objects involved in an expression to have <b>known</b> values. Later in the year we will discuss symbolic programming, but let's get the basics first.

## Exercise 5

Try typing the following sentence into the cell below: <b>"Hello World"</b>.
What happens if you omit the quotation marks?

## Exercise 6

Integers and real numbers are represented in different ways inside the computer. In Python, integers are represented by a type called <b>int</b>. To approximate real numbers in Python we have floating-point numbers, represented by a type called <b>float</b>. Thus the number $1$ in Python is an <b>int</b>, where as the number $1.0$ is a <b>float</b>.

What do the following expressions evaluate to, when put into the below cells (each in an individual cell)?
<ul>
<li>type(3)</li>
<li>type(-5)</li>
<li>type(1.02)</li>
<li>type("test")</li>
<li>type("Hello World")</li>
</ul>

<b>For each arithmetic operation, there are two versions:

(a) the version between integers, and

(b) the version between floats. </b>  

These two sets of operations work in different ways. Python decides which operation to use, based on the types of the operands. So, if we write **1+2**, then integer addition is used, because both operands are integers. If we write **1.0 + 2.0**, then float addition is used, because both operands are floats. For addition, subtraction, and multiplication, this doesn't matter very much, because performing these operations between two integers always produces another integer in everyday mathematics.

<b>Integer division:</b>  In a division operation involving only integers, many programming languages will perform <b>pure integer division</b>, producing only the integer part of the result. This is not the case in Python 3, the integer division can be executed by using $//$.

## Exercise 7 - The importance of correct bracketing.

The following is an attempt to calculate $\frac{2+4}{2}$. What does `2+4/2`
produce in Python? Try it in the cell below.

Can you explain this behaviour? What needs to be done to fix the
calculation? Try fixing it in the cell below.

## Exercise 8

How should the following expression be entered in the below cell, in
order to be sure to come up with the correct answer?
$$\frac{1 + \sqrt{5}}{2} - 2^3 $$

HINT: You can get the square root by using 5 to the power of 0.5?

## Exercise 9

Now we assign the numbers to the following variables,
\begin{align*}
a = 1+ \sqrt{5},\\
b = 2, \\
c = b^3.
\end{align*}
Please do it in the cell below.

Now in the cell below write the following
$$ \frac{a}{b} - c$$
Compare the answer with the one from Exercise 8.

## Exercise 10 - CHALLENGING(!)

The famous Fibonacci Numbers are given by the sequence
\begin{equation}
f_0 = 0,\quad f_1 = 1,\quad f_n = f_{n-1}+f_{n-2}\ \mbox{for $n\ge 2$},
\end{equation}
This means that we begin with the numbers $0$ and $1$ and then each successive number is the sum of the previous two.
Thus we have
\begin{equation}
0, 1, 1, 2, 3, 5, 8, 13,21,34, \ldots
\end{equation}
It is possible to find a <b>closed form</b> solution for any given Fibonacci number (e.g. if I want to get the 234th number, I don't have to count up all 233 preceding it). This is given by:
\begin{equation}
f_n = \frac{a^n - b^n}{a-b},
\end{equation}

Here n represents the nth Fibonacci number and

\begin{equation}
a = \frac{1+\sqrt{5}}{2},
\quad\mbox{and}\quad
b = \frac{1-\sqrt{5}}{2}.
\end{equation}
<ul>
    <li>How would you write down expressions for $a$ and $b$ in Python? Do it in a cell below.</li>
    <li>In the another cell, do `type(a)` and `type(b)`. Are you happy with the results?</li>
<li>How would you put those expressions together to make one large expression to calculate $f_4$ (we would call this the fourth number, but as we count from 0, this is actually the fifth number, which is 3)? Set the variable $n=4$ in one cell. Then in another cell write your $f_4$ by using the variables that you have already defined. </li>
Check that you obtain the correct answer.
</ul>

HINTS:
<ul>
<li> First ensure that you are able to calculate the expressions for $a$ and $b$, by typing their right-hand sides into the cell and checking the result (approximate values are $a\simeq 1.618$ and $b\simeq -0.618$). </li>
<li> Using pen and paper, \textbf{substitute the algebraic expressions} for $a$ and $b$ into $f_n$ with $n=4$. Carefully introduce pairs of brackets around any sub-expressions that need to be bracketed in order to override the usual BODMAS/BIDMAS operator precedence.</li>
<li> Check that your brackets balance properly! Check that the corresponding pairs of brackets really do surround the correct sub-expressions. Try to use brackets only where needed.</li>
<li> Once you have planned how to type in the complicated expression for $f_4$, try it out in the interpreter window and check that you get the correct result (compare with the Fibonacci sequence above, which gives $f_0, f_1,f_2,\ldots$).</li>
    <li> Was the result <b>exactly</b> correct? If not, subtract your answer from the correct answer, to see how large the error was (it should be rather small).</li>
</ul>