# Introducing tuples, sets and dictionaries - SOLVED

## The tuple: An "immutable" list of values

Let's introduce now a second type, the tuple. This might appear to be very similar to the list. It is created using circular brackets instead of square brackets

In [ ]:
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)

**EXERCISE**: Print the first, third and fifth elements of both the list and the tuple. This should be identical in both cases.

In [ ]:
indices = [0, 2, 4]
for ind in indices:
    print(a_list[ind])
    print(a_tuple[ind])

1
1
3
3
5
5

So what's different? **EXERCISE**: Try the following. In both cases change the 2nd element of the list, or the tuple, to be 10

In [ ]:
a_list[1] = 10

In [ ]:
a_tuple[1] = 10 # this error is intentional

TypeError: ignored

The tuple should have raised an error. Unlike a list, a tuple cannot be changed, it is "immutable". This has a few advantages, for example if you have defined a tuple somewhere, and then sent it to some functions, you know that your tuple cannot have changed. The same is not true if it were a list. If you want to change a tuple, you need to make a new tuple. So to complete our exercise above we can do:

In [ ]:
a_new_tuple = (a_tuple[0], 10, a_tuple[2], a_tuple[3], a_tuple[4])
print(a_new_tuple)

Trying to do this with tuples can sometimes be fiddly, so it's often simpler to convert to a list, make changes, and then convert back to a tuple. ... But then if you want to be able to change values, you probably shouldn't be using tuples, use a list instead!

In [ ]:
a_tuple = (1,2,3,4,5)
a_list = list(a_tuple)
a_list[1] = 10
a_new_tuple = tuple(a_list)
print(a_new_tuple)

If you want a bit more of the technical side of a tuple vs list, there's lots of resources on Google. For example see: https://www.afternerd.com/blog/difference-between-list-tuple/


## The set: A collection of unique objects

This brings us to a third python type for storing collections of things: The set. The basic idea is that a set contains a set of *unique* objects. So if we were to do

In [ ]:
a = [1,1,1,1,2,2,2,3,3,5,5,1,1,7,8,100]
b = set(a)
print(b)

{1, 2, 3, 100, 5, 7, 8}

You can see that we have only the 7 unique elements. The order of the objects is not relevant in the `set` type, and you should not assume anything about that. For example you cannot do

In [ ]:
b[1]

TypeError: ignored

You *can* do:

In [ ]:
c = list(b)
print(c[1], c)

2 [1, 2, 3, 100, 5, 7, 8]

But you should expect that these items not be in any particular order. Sets are mutable, you can add items into a set, or remove them, this is done with methods:

In [ ]:
b.add(12)
b.add(13)
b.remove(5)
print(b)

{1, 2, 3, 100, 7, 8, 12, 13}

The set is changed in-place, so if you try that again, it will fail the second time as 5 will no longer be in the set. (Note that adding a number already in the set will do nothing, removing a number not in the set will cause a failure)

In [ ]:
b.add(12)
b.add(13)
b.remove(5)
print(b)

KeyError: ignored

You can also take the "intersection" of sets (this means take two sets, and create a new set containing things that are in both of the original sets), or the "union" of sets (take two sets and create a new set containing things in *either* of the original sets) or remove one set from another. The syntax here is a bit odd as it uses "bitwise" operators. We won't worry today about what those operators mean for other types, but for sets we can illustrate this.

In [ ]:
a_set = set([1,2,3,4,5])
another_set = set([7,8,9,10,11])
a_third_set = set([1,2,3])

# The intersection
print("Intersections")
print(a_set & another_set)
print(a_third_set & another_set)
print(a_set & a_third_set)
print()

# The union
print("Unions")
print(a_set | another_set)
print(a_third_set | another_set)
print(a_set | a_third_set)
print()

# Taking one set from another (will remove items from the second if they are in the first)
print("Removing one set from another")
print(a_set - another_set)
print(a_third_set - another_set)
print(a_set - a_third_set)
print()

# Taking one set from another (will remove items from the second if they are in the first)
print("The exclusive or: Numbers in one set, but not both")
print(a_set ^ another_set)
# This is equivalent to (a_set | another_set) - (a_set & another_set)
print((a_set | another_set) - (a_set & another_set))
print(a_third_set ^ another_set)
print(a_set ^ a_third_set)
print()

Intersections
set()
set()
{1, 2, 3}

Unions
{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}
{1, 2, 3, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5}

Removing one set from another
{1, 2, 3, 4, 5}
{1, 2, 3}
{4, 5}

The exclusive or: Numbers in one set, but not both
{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}
{1, 2, 3, 7, 8, 9, 10, 11}
{4, 5}

One key advantage to a set is the speed of access. For example if I define the following as a list, tuple or set:

In [ ]:
a_list = [1,2,3,4,5,6,7,8,9,10]
a_tuple = tuple(a_list)
a_set = set(a_list)

I can check if a number is in any of these objects using the `in` keyword

In [ ]:
print(5 in a_list)
print(11 in a_tuple)
print(6 in a_set)
print(21 in a_list)
print(21 in a_set)

True
False
True
False
False

However, the speed of doing this is *much* faster for a set than the other two types. So for very large collections of unique numbers the set can offer significant advantages. There is a type called a `frozenset` which is an immutable set. We will not illustrate that today, but it's useful to know it exists!

## Dictionaries: Storing data with no obvious order.

Our final builtin python type for storing collections of data is the dictionary. The dictionary is used for storing  data with no obvious order, or for when it's easier to access data based on something *other* than the order. For example: details of students in a first year computing class, where you'd often look to access data based on the student's name, or UP number rather than "I want the fifth student if they are alphabetically sorted". Here's an example of creating a dictionary. I recommend doing this as illustrated below, by starting with an empty dictionary and adding items in:

In [ ]:
# This dictionary might be for example marks in some exam
a_dictionary = {}
a_dictionary['student_a'] = 47
a_dictionary['student_b'] = 74
a_dictionary['student_c'] = 39
a_dictionary['student_d'] = 56
a_dictionary['student_e'] = 62
a_dictionary['student_f'] = 72
a_dictionary['student_g'] = 58

You can then access information by keying the student's name directly

In [ ]:
print(a_dictionary['student_d'])

56

You can also access the list of student names, or associated grades, or both, in the following way. **NOTE** It's important to cast these to list before printing ... They are similar to the `range` object in this way.

In [ ]:
print( list( a_dictionary.keys() ) )
print( list( a_dictionary.values() ) )
print( list( a_dictionary.items() ) )

['student_a', 'student_b', 'student_c', 'student_d', 'student_e', 'student_f', 'student_g']
[47, 74, 39, 56, 62, 72, 58]
[('student_a', 47), ('student_b', 74), ('student_c', 39), ('student_d', 56), ('student_e', 62), ('student_f', 72), ('student_g', 58)]

**EXERCISE** Compute the mean and standard deviation of these students grades by accessing the grades from the dictionary. There are functions available in python for this, which you can easily find by Googling. Do not use these, write your own function!

In [ ]:
def mean(input_list):
    n = len(input_list)
    return sum(input_list)/n

def std_dev(input_list):
    n = len(input_list)
    std_list = []
    mu = mean(input_list)
    for item in input_list:
        std_list.append((item - mu)**2 )
    stand_dev = (1/n * sum(std_list))**0.5
    return stand_dev

In [ ]:
mean(a_dictionary.values())

58.285714285714285

In [ ]:
std_dev(a_dictionary.values())

11.670650437428629